<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>A platform where you can test your Web APP for free!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row
    justify-content-center
    class="ion-justify-content-center ion-margin-vertical"
  >
    <ion-button size="medium" (click)="navigateToWindow()" color="success">
      Test on Window
    </ion-button>
    <ion-button size="medium" (click)="navigateToLinux()" color="warning">
      Test on Linux
    </ion-button>
    <ion-button size="medium" (click)="navigateToMac()" color="danger">
      Apple macOS
    </ion-button>
  </ion-row>
</ion-content> -->
